
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*
{
    font-family: 'Roboto', sans-serif;
}

#output{
    border: 2px solid black;
    border-radius: 0.5rem;
    height: 10vh;
    width: 20vh;
}


#header{
    background-color: yellow;
    padding: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.img {
    width: 100%;
    height: auto;
    padding-top: 0%;
}
