
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*
{
    font-family: 'Roboto', sans-serif;
}

*{
    padding: 0%;
    margin: 0%;
}

#output{
    border: 2px solid black;
    border-radius: 0.5rem;
    height: 10vh;
    width: 20vh;
    padding-left: 1rem;
    padding-top: 1rem;
    
}


#header{
    background-color: yellow;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 10%;
    padding-left: 1rem;
    padding-right: 1rem;


}

#divText{
    text-align: center;
    margin: auto;
    
}

#btn{
    padding: 0.5rem;
    align-items: center;
}

#video{
    align-items: center;
    height: auto;
}

footer{
    background-color: yellow;
}